{% macro render_profile(player, player_name) %}
    <div class="{{ player }} player-area">
        <div class="profile">
            <img src = "{{ url_for('play.static', filename='img/' + player + '.png') }}" title="{{ player }}"/>
            <span>{{ player_name }}</span>
        </div>
        <div class="places">
            {%- for i in range(2) %}
                <div class="row-{{ i }}">
                    <div class="number">
                        {%- if i == 0 -%} I {%- else -%} II {%- endif -%}
                    </div>
                {%- for j in range(5) %}
                    <div class="place"></div>
                {%- endfor %}
                </div>
            {%- endfor %}
        </div>
        {% if player != 'bot' %}
            <img id="dice-cup" class="is-disabled" src="{{ url_for('play.static', filename='img/dice_cup.png') }}" />
        {% endif %}
    </div>    
{% endmacro %}