{% macro render_profile(player, player_name) %}
    <div class="{{ player }} player-area">
        <div class="profile">
            <img src = "{{ url_for('play.static', filename='img/' + player + '.png') }}" />
            <span>{{ player_name }}</span>
        </div>
        <div class="places">
            {%- for i in range(2) %}
                <div class="row">
                {%- for j in range(5) %}
                    <div id="{{ player }}-{{ (i == 1) * 5 + j }}" class="place"></div>
                {%- endfor %}
                </div>
            {%- endfor %}
        </div>
    </div>    
{% endmacro %}