{% extends '_base.html' %}
{% from '_profile.html' import render_profile %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('play.static', filename='css/play.css') }}" />
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="board">
            {{ render_profile('player', name) }}
            <div class="center">
                <div class="first dices"></div>
                <div class="second dices"></div>
            </div>
            {{ render_profile('bot', 'bot') }}
        </div>
        <div class="tables"></div>
    </div>
{% endblock %}