* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    min-width: 560px;
    padding: 2.5em 2em;
    margin: 0.4em;
    background-color: #35654d;
    border: 2x solid #073a21;
    border-radius: 1em;
    box-shadow: inset 0px 0px 0.7em rgba(0,0,0,0.5);
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20em;
    border: 1px solid white;
    border-radius: 4em;
    box-shadow: inset 0px 0px 0.7em rgba(0,0,0,0.5);
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

.profile img {
    width: 5em;
    cursor: pointer;
}

.profile span {
    padding: 0.05em;
    font-size: 18px;
    font-weight: bold;
}

.player-area {
    display: flex;
    align-items: flex-end;
    max-height: 6.8em;
}

.places {
    max-height: 7em;
}

.row {
    display: flex;
}

.number, .place, .dice {
    width: 3em;
    height: 3em;
    margin: 0 0.4em 0.4em 0;
    border-radius: 0.4em;
    border: 2px solid white;
    box-sizing: border-box;
}

.number {
    text-align: center;
    line-height: 3em;
    color: black;
    border: 2px solid black;
    font-weight: bold;
}

.place {
    box-shadow: inset 1px 1px 0.5em rgba(0,0,0,0.7);
    cursor: pointer;
}

.row[order="0"] .number {
    background-color: rgb(194, 31, 31);
}

.row[order="1"] .number {
    background-color: rgb(34, 34, 182);
}

#dice-cup {
    width: 9em;
    cursor: pointer;
    margin-left: auto;
    padding: 0 1em;
}

.tables {
    margin: 0.4em;
    padding: 1em 2em;
    width: 50%;
    border: 3px solid #35654d;
    border-radius: 1em;
}

table {
    margin: 0 auto;
    min-width: 10em;
    border-collapse: collapse;
    font-size: 15px;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 0.7em 0.7em 0 0;
    overflow: hidden;
}

table thead tr {
    background-color: #35654d;
    color: #ffffff;
    text-align: center;
}

table th { padding: 1.5em 1.3em;}
table td { padding: 1em 1.3em; }
table tbody tr { border-bottom: 1px solid #dddddd; }
table tbody td { border-right: 1px solid #dddddd; }
table tr:nth-of-type(even) { background-color: #f3f3f3; }

.results { margin-bottom: 2.5em;}
.combinations td { padding: 0.7em 2.5em;}
.combinations td:not(:first-child) {cursor: pointer;}
.combinations td:not(:first-child):hover {color: white; text-decoration: underline;}
.combinations td:nth-child(2):hover {background-color: rgb(194, 31, 31);}
.combinations td:nth-child(3):hover {background-color: rgb(34, 34, 182);}

.dices {
    display: grid;
    grid-template-areas: 
        "one two three"
        "four five six"
        "seven eight nine";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 15em;
    height: 60%;
}

.dice[order="0"], .dice[order="5"] {grid-area: one;}
.dice[order="1"], .dice[order="6"] {grid-area: three;}
.dice[order="2"], .dice[order="7"] {grid-area: five;}
.dice[order="3"], .dice[order="8"] {grid-area: seven;}
.dice[order="4"], .dice[order="9"] {grid-area: nine;}

.dice {
	display: grid;
	grid-template-areas:
		"a . c"
		"e g f"
		"d . b";
    background-color: #fff;
    cursor: pointer;
}

.dot {
	display: block;
	align-self: center;
	justify-self: center;
    border-radius: 50%;
    height: 0.65em;
    width: 0.65em;
	background-color: #000;
}

.dot:nth-child(2) {grid-area: b;}
.dot:nth-child(3) {grid-area: c;}
.dot:nth-child(4) {grid-area: d;}
.dot:nth-child(5) {grid-area: e;}
.dot:nth-child(6) {grid-area: f;}
.dot:nth-child(odd):last-child {grid-area: g;}