* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    min-width: 560px;
    padding: 2.5em 2em;
    margin: 0.4em;
    background-color: #35654d;
    border: 2x solid #073a21;
    border-radius: 1em;
    box-shadow: inset 0px 0px 0.7em rgba(0,0,0,0.5);
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.center {
    border: 1px solid white;
    margin: 5em 0;
    border-radius: 4em;
    height: 18em;
    box-shadow: inset 0px 0px 0.7em rgba(0,0,0,0.5);
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

.profile img {
    width: 5em;
    cursor: pointer;
}

.profile span {
    padding: 0.05em;
    font-size: 18px;
    font-weight: bold;
}

.player-area {
    display: flex;
    align-items: flex-end;
    max-height: 6.8em;
}

.places {
    max-height: 7em;
}

.row {
    display: flex;
}

.number-0, .number-1, .place {
    width: 3em;
    height: 3em;
    margin: 0 0.4em 0.4em 0;
    border-radius: 0.4em;
    border: 2px solid white;
    box-sizing: border-box;
}

.number-0, .number-1 {
    text-align: center;
    line-height: 3em;
    color: black;
    border: 2px solid black;
    font-weight: bold;
}

.place {
    box-shadow: inset 1px 1px 0.5em rgba(0,0,0,0.7);
    cursor: pointer;
}

.number-0 {
    background-color: rgb(194, 31, 31);
}

.number-1 {
    background-color: rgb(34, 34, 182);
}

.dice-cup {
    width: 6.5em;
    cursor: pointer;
    margin-left: auto;
    transform: rotate(-45deg);
}

.tables {
    margin-top: 0.4em;
    width: 50%;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    border-style: hidden;
    border-radius: 1em;
    font-size: 15px;
    font-family: sans-serif;
    min-width: 10em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #35654d;
    color: #ffffff;
    text-align: left;
}

table th {
    padding: 1.5em 1.3em;
}

table td {
    padding: 1em 1.3em;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.results {
    margin-bottom: 2.5em;
}

.combinations td{
    padding: 0.7em 2.5em;
}